body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    text-align: center;
    background-color: #F7F7F7;
    padding-bottom: 230px;
    padding-top: 5px;
}
.titulo{
    text-align: center;    
}

.carousel{
    width: 100%;
    padding: 0 !important;
}
.nav-link {
    color: red !important;
    }

    .nav-link:hover {
        color: #F7F7F7 !important;
        }
.barra{
    padding: 15px;
}
h1{
    text-align: center;
}

.img-central{
    text-align: end;  
    
}
.barra{
    justify-content:right;
}

.dumbelll{
    margin-right: 30px;
    height:100%;
    max-height: 50px;
   
}
.dumbell{
    margin-right: 30px;
    width: 20%; 
   
}



.secdiv{
    text-align: center;
}
.img-body{
   
    margin: 10px;
}
.img-body:hover{
    width: 15%;
  
}
.img-body2{
    margin: 10px;
}
.img-body2:hover{
    width: 50%;
}



.imgcar{
    width: 30%;
}

.carousel{
    align-items: center;
}
.carousel-item img{
    height: 40vh ;
}
.saudavel{
    text-align: left !important;
}

.textoSaudeEsq{
    text-align: left;
    margin: 40px;
}

.textoSaudeDir{
    text-align: right;
    margin: 40px;
}
.saudavel{
    text-align: center !important;
}
.menuHealth{
    background-color: #F2F2F2;
    border-radius: 50px;
    
}

hr{
    opacity: .50;
    background-color: transparent;
    border-bottom-color: initial;
    border: dotted red 8px;
    border-bottom: none;
    width: 8%;
    margin: 100px auto;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
}
/* ----------------body--------------------------*/

.human-body {
    width: 207px;
    position: relative;
    padding-top: 240px;
    height: 260px;
    display: block;
    margin: 40px auto;
}
.human-body svg:hover {
    cursor: pointer;
}
.human-body svg:hover path {
    fill: red;
    
}

.human-body svg.head:hover path {
    fill: #57c9d5;
}
.human-body svg.hands:hover path {
    fill: #57c9d5;
}
.human-body svg.shoulder:hover path {
    fill: #57c9d5;
}
.human-body svg {
    position: absolute;
    left: 50%;
    fill: #57c9d5;
}
.human-body svg.head {
    margin-left: -28.5px;
    top: -6px;
}
.human-body svg.shoulder {
    margin-left: -53.5px;
    top: 69px;
}
.human-body svg.arm {
    margin-left: -78px;
    top: 112px;
}
.human-body svg.cheast {
    margin-left: -43.5px;
    top: 88px;
}
.human-body svg.stomach {
    margin-left: -37.5px;
    top: 130px;
}
.human-body svg.legs {
    margin-left: -46.5px;
    top: 205px;
    z-index: 9999;
}
.human-body svg.hands {
    margin-left: -102.5px;
    top: 224px;
}

.logo{
    font-size: 70px;
    color: red;
    opacity: 0.60;
  
}

/* quem somos */


.contact .row{
    display: flex;
    align-items: center;
    background:#F2F2F2;
    flex-wrap: wrap;
    gap: 1rem;

}
.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
    height: 300px;
    
}
.contact .row form{
    flex:1 1 45rem;
   
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
   text-transform: uppercase;

   font-size: 2.5rem !important;
   color: #DC3545!important;
}

.contact .row form h3{
    text-transform: uppercase;
 
    font-size: 3.5rem;
    color: red;
 }





/* footer */

.btn-about{
    margin-right: 70px;
}
.btn-social{
    border-radius: 40px;
}